<div class="row justify-content-center">
  <div class="col-md-6">



<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
                    <label for="exampleFormControlSelect1">Comida</label>
                   
                    <select name="tipoDeComida" placeholder="Tipo de comida"  class="form-control" id="exampleFormControlSelect1" [(ngModel)]="ficha.tipoDeComida">
                     
                      <option value="DESAYUNO">Desayuno</option>
                      <option value="ALMUERZO">Almuerzo</option>
                      <option value="MERIENDA">Merienda</option>
                      <option value="CENA">Cena</option>
                    </select>
             </div>
        <div class="form-group">
          <label for="name">Comida principal</label>
          <input type="text" [(ngModel)]="ficha.comidaPrincipal" 
            class="form-control" id="name" name="comidaPrincipal" placeholder="Comida principal">
        </div>
        <div class="form-group">
          <label for="email">Comida Secundaria</label>
          <input type="text" [(ngModel)]="ficha.comidaSecundaria" 
            class="form-control" id="secundaria" name="comidaSecundaria" placeholder="Comida secundaria">
        </div>
       
        <div class="form-group">
          <label for="bebida">Bebida</label>
          <input type="text" [(ngModel)]="ficha.bebida" 
            class="form-control" id="bebida" name="bebida" placeholder="Bebida">
        </div>
        <div class="form-group">
          <label for="bebida">Postre</label>
          <input type="text" [(ngModel)]="ficha.postre" 
            class="form-control" id="postre" name="postre" placeholder="Postre">
        </div>
        <div class="form-check m-2">
            <input class="form-check-input" [(ngModel)]="ficha.tentacion" name="tentacion" type="checkbox"  id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              ¿Tuvo tentacion?
            </label>
        </div>
        <div class="form-check m-2">
            <input class="form-check-input" [(ngModel)]="ficha.tieneHambre" name="tieneHambre" type="checkbox"  id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
              ¿Se quedo con hambre?
            </label>
        </div>
      
        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Ingresar</button>
      </form>
    </div>
  </div>
   </div>

</div>
